<!-- markdownlint-disable no-trailing-spaces -->
<!-- markdownlint-disable no-inline-html -->

# Writing rules 

This section is under construction. 
Note that this refers to general writing rules, 
independent of the markup language. 
Currently, there is nothing specific for Markdown, 
but there is a separate [PDF for writing latex documents](../howToLatex.pdf). 