<!-- markdownlint-disable no-trailing-spaces -->
<!-- markdownlint-disable no-inline-html -->

# Link back

This site is under construction.
Thus, we refer the reader
to the [development site](https://github.com/Reissner/QMngMnt)
and in particularly the 'README.md' therein. 

But more and more, you can work with this site. 
So try [here](./general.html). 