<!-- markdownlint-disable no-trailing-spaces -->
<!-- markdownlint-disable no-inline-html -->

# Quality: From Principles to Realizations 

This section provides general principles of quality 
and derives processes and decisions on tools realizing these principles 
to a wide extent. 